body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, button, p, blockquote, th, td{margin: 0;padding: 0;}
/*内容水平居中*/
body{text-align: center;}
/*去掉项目列表符号*/
ul,ol,li{ list-style: none;}
/*去掉链接自带下划线*/
a{text-decoration: none;}

/*去边框，垂直居中对齐*/
input,button,img{
    border: none;vertical-align: middle;}